/* Default styles */
:root {
    /* CSS HSL */
    --blue: hsl(194, 66%, 61%);
    --red: hsl(357, 85%, 52%);
    --green: hsl(150, 99%, 27%);
    --rich-black: hsla(206, 80%, 4%, 1);
    --white-smoke: hsla(30, 8%, 95%, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-weight: normal;
    scroll-behavior: smooth;
    color: var(--rich-black);
}

body {
    min-height: 100dvh;
    background: var(--white-smoke);
    max-width: 100vw;
}

@import './shared/var';
@import './shared/typo';
@import './shared/lang';
@import './shared/select';
@import './components/navbar';
@import './components/footer';
@import './responsive';

// Home sections
@import './home/hero';
@import './home/insight';
@import './home/search';
@import './home/list';

// Pages

main{
    display: grid;
    gap: $spacing-xl;
}