#hero{
    h2{
        text-shadow: 0px -4px 0px var(--white-smoke);
    }
    padding: $spacing;
    display: grid;
    place-content: center;
    height: 200px;
   background: url('/media/sprinkles.svg') center/cover;
}