header{
    padding: $spacing;
    margin: 0 0 $spacing-xl;
    a{
        &.men{
            height: 80px;
            width: 80px;
            background: url('/media/men.webp') center/cover no-repeat;
        }
        &.mada{
            height: 100px;
            width: 120px;
            background: url('/media/mada.webp') center/cover no-repeat;
        }
    }
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $spacing;
    p{
        font-weight: 600;
        font-size: $font-size-xl;
        opacity: .3;
    }
    img{
        mix-blend-mode: multiply;
    }
}