header{
    padding: $spacing;
    margin: 0 0 $spacing-xl;
    a{
        &.men{
            height: 80px;
            width: 150px;
            background: url('/media/mesupres.webp') center/auto 100% no-repeat;
        }
        &.mada{
            height: 100px;
            width: 120px;
            background: url('/media/mada.webp') center/auto 100% no-repeat;
        }
        @media (max-width: $breakpoint-xs) {
            &.men{
                height: 60px;
                width: 130px;
                background: url('/media/mesupres.webp') center/auto 100% no-repeat;
            }
            &.mada{
                height: 80px;
                width: 100px;
                background: url('/media/mada.webp') center/auto 100% no-repeat;
            }
        }
    }
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $spacing;
    p{
        font-weight: 600;
        font-size: $font-size-xl;
        opacity: .3;
    }
    img{
        mix-blend-mode: multiply;
    }
}